{{!-- {{#each users}} --}} {{!--
<div>
  <p>Your Searched Recyclable Points history:</p>
</div> --}} {{!--
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
  <form method="post" action="/ideas/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger btn-block" value="Delete">
  </form>
</div> --}}{{!-- what will be rendered for logged in user with no hisotry to render

<p>Currently there is no search history/results stored for you</p>

--}} {{!-- This is what logged in user will see as their profile/dashboard page copy below section to under {{#each users}}
section when routing/test is DONE --}}

<div>
  <div id="wrap" class="container">

    <h8>Welcome back to GREENlife HK,<span id="usergreeting"> {{user.firstName}}</span></h8>

    <div id="wrap-inner" class="container">

      <div id="inner" class="container">

        <div id="userinfo">

          <div class="text-center">

            <strong><p>Search for Recyclable points?</p></strong>

            <button id='tomap' class='btn btn-green btn-default btn-block' onclick='location.href = "/"' ; style='cursor:pointer;'>
            <i class="fa fa-search" aria-hidden="true"></i> Go to Recycling finder</button>

          </a>

          </div>

        </div>

        <div id="randomgenerator">

        </div>


        <div id="searchhistory" class="text-center">
          <h9>Your latest Recyclable Points search history</h9>

          <div id="mocklist">

            {{#each searchLogs}} {{#if query}}
            <div id="searcheddata">
              Searched on: {{dateformat this.updatedAt}}
              <br>
              <br>
              <strong>{{this.query}}</strong>
              <br> {{!--
              <div id='hiddendata'>
                <br>this data will not be shown:
                <br>
                <br>Longitude:{{this.location_lat}}
                <br>Latitude:{{this.location_lng}}
              </div> --}}
            </div>
            {{/if}} {{else}}

            <div id="searcheddata">
              <p>You currently have no search history<br>Start searching for Recyclable points!</p>
            </div>

            {{/each}}


          </div>
        </div>

        <div id="actionhistory" class="text-center">
          <h10>Your Recycling activity recorded:</h10>

          <div id="mocklist">


            {{#if usageLogs}}

            <div id="searcheddata" class="table-responsive">
              <table class="table">
                <thread>
                  <tr>
                    <th>Waste type recycled</th>
                    <th>quantity recycled</th>
                  </tr>
                </thread>

                <tbody>
                  {{#each usageLogs}}
                  <tr>

                    <td><p class="itemcolor">{{this.recycle_item_name}}</td>
                    <td><p class="quantity">{{this.recycle_times}}</p></td>

                  </tr>
                  {{/each}}

                </tbody>




                {{!--
                <p>waste-type recycled quantity recycled</p>
                <p>{{this.recycle_item_name}} {{this.recycle_times}} </p> --}}


              </table>

              {{else}}
              <div id="searcheddata">
                <p>You currently have no Recycling activity recorded<br>Start recording your Recycling activity now!</p>
              </div>
              {{/if}}

            </div>
          </div>
        </div>


        <div id="panel-wrapper">
          <div id='panel'>
            <p>More user details or another user history section or overall usage data</p>

            <div id="panelresult">
            </div>

          </div>
          <div id='open'>
            <p>Open</p>
          </div>

        </div>

        <button id='tomap' class='btn btn-green btn-default btn-block' onclick='location.href = "/"' style='cursor:pointer;'>
        <span class='glyphicon glyphicon-home'></span> Back to Home/Search Page</button>
      </div>

    </div>
  </div>


  {{!-- {{/each}} --}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script>
    // for left side panel
    $('#open').click(function () {
      $("#panel").animate({
        width: 'toggle'
      }, 300);

    });

    // for applying colours to different wasteType in Recycling activity record section

    let items = document.getElementsByClassName("itemcolor"); 
    let resultQuantity = document.getElementsByClassName("quantity");
    for (var i = 0; i < items.length; i++) {
        items[i].style.color = wasteTypeColor[items[i].innerHTML];
        resultQuantity[i].style.backgroundColor = wasteTypeColor[items[i].innerHTML];    
    }

    (function () {

      window.onload = function () {

        // for result render until db is ready
        // renderMockData();

        var n = Math.floor(Math.random() * 3);
        console.log(n);
        if (n === 0) {     // can use switch instead of if
          renderResult(n);
          // this.textContent = 'result here';
        } else if (n === 1) {
          renderResult(n);
        } else {
          renderResult(n);
        }
      };

      var resultDisplay = document.getElementById("randomgenerator");

      function renderResult(n) {
        var htmlString = "";

        if (n == 0) {
          htmlString += "<p>For saving more paper in HK....</p>" +
            "<p><a href = 'http://www.gocup.hk/' target='_blank'><img src='/images/gocup.jpg' height='250' width='250'/></a></p>" +
            "<p>" + "Check out Go Cup HK for more information" + "</p>"
        } else if (n == 1) {
          htmlString += "<p>For recycling Rechageable Battery....</p>" +
            "<p><a href = 'https://www.wastereduction.gov.hk/en/workplace/rechargebattery_intro.htm' target='_blank'><img src='/images/poster_rb.jpg' height='250' width='180'/></a></p>" +
            "<p>" + "Check out government site for more details" + "</p>"
        } else {
          htmlString += "<p>For helpful guide on recycling glass bottles...</p>" +
            "<p><a href = 'http://www.glass-recycling.com.hk/recycling-steps' target='_blank'><img src='/images/glassrecycle.jpg' height='250' width='180'/></a></p>" +
            "<p>" + "Check out step-by-step guide on glass bottle recycling" + "</p>"
        }

        clearDisplay();
        resultDisplay.insertAdjacentHTML('beforeend', htmlString);

      }

      function clearDisplay() {
        resultDisplay.innerHTML = "";
      }

      


      // delete once db data is ready and rendered
      /* var mockDataDisplay = document.getElementById("mocklist");

      function renderMockData() {

        var listResult = "";

        var mockData = {
          "Address": "Junction of Hollywood Road and Aberdeen Street",
          "Searched on": "19 December 2017",
          "Longitude": "XXX",
          "Latitude": "YYY"
        };

        for (i = 0; i < 5; i++) {
          listResult += "<div id='searcheddata'>" +
            "Searched on: " + mockData["Searched on"] + "<br><br>" +
            "<strong>" + mockData.Address + "</strong><br>" +
            "<id='hiddendata'><br>this data will not be shown:<br><br>Longitude:" + mockData.Longitude + "<br>Latitude:" +
            mockData.Latitude + "</div>";
        }

        mockDataDisplay.insertAdjacentHTML('beforeend', listResult);
      } */



    })();
  </script>